@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body text-base font-normal bg-graySoft;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input {
    @apply outline-none;
  }
  .container {
    @apply w-full max-w-[1280px] px-4 py-10 mx-auto;
  }
}

.quill {
  .ql-editor {
    @apply p-4 font-body text-base;
  }
}
.gradient-banner {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.ReactModal__Body--open {
  overflow: hidden;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
// Config swiper

.swiper-container {
  width: 100% !important;
}

@media screen and (min-width: 350) {
  .swiper-container {
    width: 350;
  }
}
@media screen and (min-width: 480) {
  .swiper-container {
    width: 480px;
  }
}
@media screen and (min-width: 640) {
  .swiper-container {
    width: 640px;
  }
}
@media screen and (min-width: 1024) {
  .swiper-container {
    width: 1024px;
  }
}
@media screen and (min-width: 1336) {
  .swiper-container {
    width: 1336px;
  }
}
.swiper {
  padding: 40px 20px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #1dc071;
  border-radius: 50%;
  color: #1dc071;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  &::after {
    font-size: 16px;
  }
}

.swiper-button-prev {
  &:after {
    position: relative;
    left: -1px;
  }
}

.swiper-button-next {
  &:after {
    position: relative;
    left: 1px;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 0px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1dc071;
}
// Config faq
.faq-row-wrapper {
  .faq-title {
    @apply font-bold;
  }

  .faq-body {
    .faq-row {
      .row-title {
      }

      .row-content {
        .row-content-text {
        }
      }
    }
  }
}
